@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    display: inline-block;
    animation: spin 1s linear infinite;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background: rgba(0, 0, 0, 0.1);;
}

.table {
    overflow-x: auto;
}